/Users/gowiem/.local/share/chezmoi|dot
/Users/gowiem/Workspace|w
/Users/gowiem/Downloads|dl
/Users/gowiem/Workspace/TIL|til
/Users/gowiem/Desktop|d
/Users/gowiem/Workspace/websites/masterpoint.io|masterpoint
/Users/gowiem/Workspace/websites|sites
/Users/gowiem/Workspace/Contracting|c
/Users/gowiem/Workspace/Contracting/regatta/regattasport|regatta
/Users/gowiem/Workspace/Contracting/historyofcg|hist
/Users/gowiem/Workspace/blog|blog
/Users/gowiem/Workspace/Cloned|cloned
/Users/gowiem/Workspace/Contracting/regatta/regattasport|rs
/Users/gowiem/Workspace/Contracting/stuzo|stuzo
/Users/gowiem/Workspace/Contracting/stuzo/chevron|chev
/Users/gowiem/Workspace/Contracting/stuzo/chevron/Northstar-AppServer|northstar
/Users/gowiem/Workspace/Contracting/Subaru|subaru
/Users/gowiem/Workspace/Contracting/Subaru|dm
/Users/gowiem/Workspace/Contracting/Subaru/sts-backend|sts-be
/Users/gowiem/Workspace/Contracting/Subaru/sts-devops|sts-do
/Users/gowiem/Workspace/Contracting/Subaru|sts
/Users/gowiem/Workspace/Contracting/wtc|wtc
/Users/gowiem/Workspace/Contracting/wtc/noa-playnintendo|nk
/Users/gowiem/Workspace/Contracting/wtc/noa-playnintendo/devops/terraform|nk-tf
/Users/gowiem/Workspace/Contracting/wtc/noa-playnintendo/devops|nk-do
/Users/gowiem/Workspace/Side-Projects|sp
/Users/gowiem/Workspace/Contracting/wtc/wtc-infrastructure|wtci
/Users/gowiem/Workspace/masterpoint|mp
/Users/gowiem/Workspace/masterpoint/terraform-aws-ssm-agent|ssm
/Users/gowiem/Workspace/masterpoint/terraform-aws-nuke-bomber|nuke
/Users/gowiem/Workspace/masterpoint/ecsrun|ecs
/Users/gowiem/Workspace/exercism|ex
/Users/gowiem/Workspace/Contracting/fusionauth|fa
/Users/gowiem/Workspace/masterpoint/terraform-aws-amplify-app|amp
/Users/gowiem/Workspace/Contracting/fusionauth/getgif|getgif
/Users/gowiem/Workspace/Contracting/historyofcg/HistoryOfCG|hcg
/Users/gowiem/Workspace/Contracting/wtc/tpci-tcgportal|pokemon
/Users/gowiem/Workspace/Contracting/fusionauth/fusionauth-golang-client-example|fago
/Users/gowiem/Workspace/masterpoint/ecs-101-demo|ecs101
/Users/gowiem/Workspace/Contracting/wtc/noa-playnintendo|play
/Users/gowiem/Workspace/masterpoint/terraform-aws-storage-file-gateway|sgfg
/Users/gowiem/Workspace/masterpoint/terraform-module-template|template
/Users/gowiem/Workspace/Contracting/stuzo/oc|oc
/Users/gowiem/Workspace/Cloned/cloudposse/build-harness|bh
/Users/gowiem/Workspace/Contracting/accessmobile|am
/Users/gowiem/Workspace/Contracting/accessmobile/am-cc-backend|am-be
/Users/gowiem/Workspace/Contracting/stuzo/hatch|hatch
/Users/gowiem/Workspace/Contracting/stuzo/hatch/core-service|hatch-core
/Users/gowiem/Workspace/Contracting/stuzo/hatch/hatch_deploy|hatch-deploy
/Users/gowiem/Workspace/Contracting/stuzo/oc/oc-devops|oc-do
/Users/gowiem/Workspace/Contracting/stuzo/hatch/hatch-terraform|hatch-tf
/Users/gowiem/Workspace/Contracting/stuzo/oc/k8s-tf|k8s-tf
/Users/gowiem/Workspace/Contracting/stuzo/oc/oc-helmcharts|oc-helm
/Users/gowiem/Workspace/Contracting/stuzo/oc/oc-terraform|oc-tf
/Users/gowiem/Workspace/Contracting/stuzo/oc/oc-system-tests|oc-sys
/Users/gowiem/Workspace/Contracting/stuzo/oc/stuzo-terraform|stuzo-tf
/Users/gowiem/Workspace/Contracting/wtc/wtc-website|wtc-web
/Users/gowiem/Workspace/masterpoint/aws-cli-deep-dive|cli
/Users/gowiem/Workspace/Contracting/stuzo/oc/oc-helmcharts|charts
/Users/gowiem/Workspace/Contracting/stuzo/oc/oc-helmreleases|releases
/Users/gowiem/Workspace/Contracting/DI|di
/Users/gowiem/Workspace/Contracting/DI/terraform-workshops|tfw
/Users/gowiem/Workspace/Contracting/cp|cp
/Users/gowiem/Workspace/Contracting/cp/altais|altais
/Users/gowiem/Workspace/Contracting/cp/altais/infrastructure|altais-infra
/Users/gowiem/Workspace/Contracting/DI/terraform-workshops|workshops
/Users/gowiem/Workspace/Contracting/cp/terraform-aws-components|components
/Users/gowiem/Workspace/Contracting/cp/docs|docs
/Users/gowiem/Workspace/Contracting/stuzo/oc/oc-rfcs|rfcs
/Users/gowiem/Workspace/Contracting/cp/tutorials|tuts
/Users/gowiem/Workspace/Contracting/cp/terraform-spacelift-cloud-infrastructure-automation|spacelift
/Users/gowiem/Workspace/Contracting/wtc/bonkers-infrastructure|bksi
/Users/gowiem/Workspace/Contracting/cp/frastructure-production|kin-infra
/Users/gowiem/Workspace/Contracting/wtc/bonkers-backend|bonkers-be
/Users/gowiem/Workspace/Contracting/cp/atmos|atmos
/Users/gowiem/Workspace/Contracting/wtc/bonkers-infrastructure|bonkers
/Users/gowiem/Workspace/Contracting/stuzo/oc/oc-deployment-docs|oc-deploy
/Users/gowiem/Workspace/masterpoint/internal-docs|idocs
/Users/gowiem/Workspace/Contracting/duos|duos
/Users/gowiem/Workspace/Contracting/duos/infrastructure|duos-infra
/Users/gowiem/Workspace/Contracting/duos/infrastructure|2-infra
/Users/gowiem/Workspace/Contracting/duos/gitops|duos-gitops
/Users/gowiem/Workspace/Contracting/Subaru/sts-backend|sts-backend
/Users/gowiem/Workspace/Contracting/Subaru/sts-client|sts-client
/Users/gowiem/Workspace/masterpoint/mp-infra|mp-infra
/Users/gowiem/Workspace/masterpoint/taskit|taskit
/Users/gowiem/Workspace/Contracting/Subaru/sts-lambdas|sts-lambdas
/Users/gowiem/Workspace/Contracting/Subaru/wiki.wiki|sts-wiki
/Users/gowiem/Workspace/Contracting/Subaru/docs-backend|docs-backend
/Users/gowiem/Workspace/Contracting/allma|allma

